* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  color: white;
  width: 100%;

  /* Ensure the background is black */
}

/* Start Of Header */
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 94%;
  z-index: 1000;
  display: flex;
  flex-wrap: nowrap;
  padding: 3%;
  align-items: center;
  background: #2f2f2f8f;
}

.header .container {
  width: 80%;
}

.header h1 {
  color: white;
}

.header ul {
  list-style: none;
}

.header ul li {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.header ul li:hover {
  color: #03a9f4;
}



.active {
  color: #FFC107;
  padding-left: 21px;
}


.fa-bars-staggered {
  font-size: 24px;
  cursor: pointer;
}

/* End Of Header */
/* Start Of About */
.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 13%;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
  text-align: center;
}

.aboutContainer h2 {
  line-height: 2;
}



.aboutContainer img {
  animation: float 3s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 8px #616161;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.aboutContainer .leftSection {
  font-size: 24px
}

.aboutContainer .leftSection ul {
  display: flex;
  gap: 15px;
  list-style: none;
  font-size: 25px;
  margin: 15px 0;
}

.aboutContainer .leftSection button {
  margin-top: 10px;
  padding: 8px;
  border-radius: 20px;
  color: white;
  background: #545454;
  width: 147px;
  font-size: 15px;
  cursor: pointer;
  border: transparent;
}

.aboutContainer .leftSection button:hover {
  background-color: #517c91;
}

.aboutContainer .leftSection button:active {
  box-shadow: inset 0px 0px 16px 3px;
}

.aboutContainer .leftSection ul li a {
  color: white;
}

.aboutContainer .leftSection ul li a .fa-facebook:hover {
  color: #1877f2;
}

.aboutContainer .leftSection ul li a .fa-github:hover {
  color: #03a9f4;
}

.aboutContainer .leftSection ul li a .fa-whatsapp:hover {
  color: #075e54;
}

.aboutContainer .leftSection ul li a .fa-instagram:hover {
  color: #d62976;
}

/* End Of About */
/* about me */
.aboutMe {
  margin-bottom: 100px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.whatIdo{
  background: transparent !important;
}
.aboutMe p {
  font-size: 25px;
  line-height: 39px;
  margin: 0 22px;
  background: #202124;
  color: #ffffff;
  padding: 25px;
  width: 83%;
  border-radius: 19px;
  text-align: center;
  font-weight: bold;
}

.aboutMe ul {
  text-align: start;
  width: 90%;
  margin: auto;
  display: flex
;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutMe ul p {
  text-align: center;
  font-size: 28px;
  color: #ffeb3b;
  animation: float 3s ease-in-out infinite;
}

.AboutHEADING {
  text-align: center;
  margin-bottom: 30px;
  animation: float 3s ease-in-out infinite;
}

.aboutMe li {
  font-size: 18px;
  color: #ffffff;
  list-style: none;
  margin-bottom: 15px;
  line-height: 26px;
  width: 330px;
  background: #6c6c6c;
  padding: 40px;
  border-radius: 18px;
  transition: all 0.5s ease;

}
.aboutMe li:hover{
  padding: 50px;
  transition: all 0.5s ease;
  box-shadow: 0px 8px 19px 3px #4d4d4d;
}
.aboutMe li span {
  font-size: 25px;
  color: #ffeb3b;
  display: block;
  text-align: center;
  padding: 0 0 15px 0px;
}

/* about me */
/* start of Skills */
.containerSkills {
  text-align: center;
  margin-bottom: 10%
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 31px;
  padding: 10px;
  width: 90%;
  justify-content: center;
  margin: auto;
  border-radius: 7px;
}

.skills .skill {
  width: 80px;
  background-color: #000000;
  color: white;
  border-radius: 7px;
  padding: 7px;
  line-height: 16px;
  font-size: 13px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #9E9E9E;
}

.skills .skill:hover {
  background-color: #000000;
  box-shadow: 0px 3px 7px 9px #393939;
}

/* end of Skills */

/* start of project */
.projectContainer {
  text-align: center;
  margin-bottom: 50px
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  padding: 20px;
  width: 90%;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projectContainer .project {
  background-color: #000000;
  padding: 18px;
  border-radius: 10px;
  display: inline-block;
  width: 250px;
  box-shadow: 0px 0px 10px 8px #303030;
  transition: 0.3s;
  height: 332px;
  cursor: pointer;
}
.projectContainer .project:hover{
  background: #232323;
}
.projectContainer .project p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 48px;
}

.projectContainer .project img {
  border-radius: 10px;
  transition: 0.3s;
}
.projectContainer .project  :hover{
  margin-top: 10px;
}
.projects a {
  padding: 15px;
  background-color: #595959;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 17px;
  transition: 0.3s
}

.projects a:hover {
  background-color: #5a5a5a;

  box-shadow: 0px 0px 10px 8px #afadb3;
}

/* end of project */

/* comtact me  */

.contactMe h2 {
  text-align: center;
  animation: float 3s ease-in-out infinite;
}

form {
  background: rgb(48 47 47);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 14px 8px #3a3a3a;
  width: 80%;
  margin: auto;
  margin-top: 47px;
}

form label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

form input,
form textarea {
  width: 97%;
  padding: 10px;
  margin: 5px 0 10px;
  border: 0px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff73;
  color: white;
  font-size: 18px;
}

form textarea {
  font-size: 25px;
  height: 132px;
}

form button {
  background: #9E9E9E;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  width: 80px;
  margin-left: 46%;
}

form button:hover {
  background: #0056b3;
}

/* comtact me  */
/* footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #212121;
  margin-top: 57px;
}

/* footer */